:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #d1e2e9;
    --yellow: #ffd800;
    --green: #59b210;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #243a6f;
    position: relative;
    z-index: 1;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  .container-md {
    max-width: 100rem;
    margin: 0 auto;
  }
  
  @media only screen and (max-width: 1200px) {
    .container {
      padding: 0 3rem;
    }
  
    .container-md {
      padding: 0 3rem;
    }
  }
  
  /* Header */
  .header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--grey-alt);
    overflow: hidden;
  }
  
  .nav {
    padding: 1.6rem 0;
  }
  
  .nav.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #243a6f;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .nav.fix-nav .nav-link,
  .nav.fix-nav .logo,
  .nav.fix-nav .cart-icon,
  .nav.fix-nav .hamburger {
    color: #fff;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo h1 {
    font-size: 2.5rem;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .nav-link:link,
  .nav-link:visited {
    padding: 0.8rem 1rem;
    transition: all 300ms ease-in-out;
  }
  
  .nav-link.icon {
    font-size: 3rem;
  }
  
  .top-nav {
    display: none;
  }
  
  .hamburger {
    display: none;
  }
  
  .cart-icon {
    display: none;
  }
  
  @media only screen and (max-width: 768px) {
    .menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      max-width: 40rem;
      height: 100%;
      background-color: #fff;
      transition: all 500ms ease-in-out;
      z-index: 100;
    }
  
    .menu.show {
      left: 0;
    }
  
    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #243a6f;
      padding: 1rem 1.6rem;
    }
  
    .top-nav .logo {
      color: #fff;
    }
  
    .top-nav .close {
      color: #fff;
      font-size: 3rem;
      padding: 1rem;
      cursor: pointer;
    }
  
    .cart-icon {
      display: block;
      font-size: 3rem;
    }
  
    .hamburger {
      display: block;
      font-size: 3rem;
      padding: 0.5rem;
      cursor: pointer;
    }
  
    .nav-link:link,
    .nav-link:visited {
      display: block;
      font-size: 1.7rem;
      padding: 1rem 0;
    }
  
    .nav.fix-nav .nav-link {
      color: #243a6f;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: start;
      padding: 1rem 1.6rem;
    }
  
    body.show::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 4;
    }
  
    .nav.show {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    .nav-link.icon {
      display: none;
    }
  }

.cart {
    margin: 10rem auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background-color: #fc7c7c;
    font-weight: normal;
  }
  
  td {
    padding: 1rem 0.5rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color: orangered;
    font-size: 1.4rem;
  }
  
  td img {
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .total-price table {
    border-top: 3px solid #fc7c7c;
    width: 100%;
    max-width: 35rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }
  a{
    text-decoration: none;
  }
  .footer {
    background-color: black;
    padding: 6rem 1rem;
    line-height: 3rem;
    
  }
  
  .footer-center span {
    margin-right: 1rem;
    color: #f1f1f1;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }
  
  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
  }
  .footer-center a{
    font-size: 10px;
  }
  
  .footer-center a:hover{
    font-size: 1rem;
    color: blue;
  }
  
  .footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
    
  }
  
  .footer-center h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  @media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }
  